.result-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  .success-logo{
    width: 32px;
    height: 32px;
    margin-bottom: 13px;
  }

  .success-message{
    font-size: 22px;
    line-height: 24px;
  }

  .score{
    margin-top: 40px;
    font-size: 60px;
    font-weight: 500;
    line-height: 39px;
  }
}

